@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

:root {
  /*nome=valor*/
  /*cria uma variavel*/
  --cor-principal: #a4a9da;
  --cor-secundaria: #FFFFFF;
  --cor-botao: #8E4162;
  --largura-principal: 84vw;
  --largura-celular: 100vw;
}
  /*--largura-principal: 1600px;
  --largura-celular: 430px;*/

* {
  margin: 0;
  padding: 0;
  font-family: 'Oxygen';
  /*define a fonte selecionada no google*/
}

#home {
  scroll-margin-top: 110px;
  /*define o limite da margem (tela) na rolada*/
}

#bordados {
  scroll-margin-top: 140px;
}

header {
  background-color: var(--cor-principal);
  width: 100%;
  height: 110px;
  position: fixed;
  /*fixa o cabeçalho quando der a rolada*/
  top: 0px;
}

.area-navegacao {
  display: flex;
  /*coloca a lista ao lado da imagem*/
  justify-content: space-between;
  /*deixa a lista e a imagem um em cada lado*/
  align-items: center;
  height: 110px;
  width: 95%;
  margin: auto;
}

ul {
  display: flex;
  /*deixa os itens da lista uma ao lado da outra*/
  gap: 50px;
  /*da espasamento entre os icones*/
  list-style: none;
  /*tira a bolinha da lista*/


}

.icones {
  text-decoration: none;
  /*pra tirar o sublinhado do "a"*/
  color: var(--cor-secundaria);
  font-size: 25px;
  /*define o tamanho do texto*/
  border: 2px solid var(--cor-secundaria);
  /*cria uma borda*/
  padding: 10px;
  /*espaso dentro entre as letars e a broda*/
  border-radius: 0 20px;
  /*arredonda as beiras*/
  padding: 10px 50px;
}

.icones:hover {
  /*para mudar a cor quando passar o dedo no botao*/
  background-color: var(--cor-secundaria);
  color: var(--cor-principal);
  border: none;
}

a:focus {
  background-color: var(--cor-secundaria);
  color: var(--cor-principal);
}

main {
  margin-top: 110px;
}

#banner {
  width: var(--largura-principal);

}

#banner__image {
  margin-top: 10px;
  width: var(--largura-principal);

}

#reservas {
  width: var(--largura-principal);
  height: 144px;
  border: 2px dashed var(--cor-principal);
  color: var(--cor-principal);
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
}

.area-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
}


#reservas__botao {
  padding: 20px 60px;
  color: var(--cor-secundaria);
  font-size: 22px;
  background-color: var(--cor-principal);
  border: none;
  border-radius: 15px;
  margin-top: 15px;
}

#reservas__botao:hover {
  background-color: var(--cor-botao);
  color: var(--cor-secundaria);
}

#reservas__titulo {
  margin-top: 15px;
}

.area-sobre {
  display: flex;
  width: var(--largura-principal);
  margin: 20px auto;
  justify-content: space-around;
}

.sobre {
  color: var(--cor-principal);
  width: 500px;
}

.sobre__foto {
  width: 500px;
}

.sobre__titulo {
  margin-top: 30px;
  font-size: 50px;
}

.sobre__texto {
  margin-top: 30px;
  font-size: 30px;
}

.area-busca {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalogo-titulo {
  font-size: 50px;
  color: var(--cor-principal);
  margin-bottom: 50px;
}

.busca {
  display: flex;
  width: 764px;
  height: 40px;
  border: 3px solid var(--cor-principal);
  border-radius: 20px;
  padding: 5px;
  justify-content: center;
}

.busca__campo {
  flex: 1;
  border: none;
  outline: none;
  font-size: 25px;
}

.busca__botao {
  font-size: 30px;
  border: none;
  color: var(--cor-principal);
  background: none;
}

.bordados>a>img {
  width: 400px;
  border-radius: 20px;
}

.bordados {
  text-align: center;
}

.catalogo {
  margin: 100px auto;
  width: 1400px;
  display: flex;
  flex-wrap: wrap;
  /* faz quebrar uma linnha quando nao couber na tela*/
  gap: 50px;
  justify-content: center;
}

h3 {
  color: var(--cor-principal);
}

hr {
  border: none;
  height: 2px;
  background-color: var(--cor-principal);
  width: var(--largura-principal);
  margin: auto;
}

@media(max-width: 430px) {

  header {
    width: var(--largura-celular);
    height: 10vh;
    position: fixed;
    top: 0;
  }

  .area-navegacao {
    width: var(--largura-celular);
    height: 10vh;
    justify-content: center;
  }

  .logo {
    display: none;
  }

  ul {
    gap: 15px;
    justify-content: space-around;
  }

  .icones {
    font-size: 30px;
    border: none;
    padding: 20px;
  }

  .icones:hover,
  .icones:focus {
    background: none;
    color: none;
  }

  #banner {
    width: var(--largura-celular);
  }

  #banner__image {
    width: var(--largura-celular);
  }

  #reservas {
    width: 390px;
    border-width: 2px;
  }

  #reservas__titulo {
    font-size: 22px;
  }

  #reservas__botao {
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 5px;
  }

  .area-sobre {
    flex-direction: column;
    width: var(--largura-celular);
  }

  .sobre {
    width: var(--largura-celular);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sobre__titulo {
    font-size: 35px;
    text-align: center;
  }

  .sobre__texto {
    font-size: 20px;
    padding: 20px;
  }

  .sobre__foto {
    width: 400px;
    border-radius: 100px;
    padding: 10px;
  }

  hr {
    width: 400px;
  }

  .area-busca {
    width: var(--largura-celular);
  }


  .busca {
    width: 350px;
  }

  .catalogo-titulo {
    font-size: 35px;
  }

  .catalogo {
    width: var(--largura-celular);
    display: flex;
    gap: 10px; /*da um espaço entre um item e outro de forma lateral ou na direçao q o display flex está*/
    height: 90vh; /*viwe sei la oquer(VH) uma medida faz os intens ocupar uma % da tela*/
  }

  .bordados>a>img {/* Seleciona imagens (<img>) que estão dentro de links (<a>),
   que são filhos diretos de um elemento com classe .bordados */
    width: 200px;
  }






}